<div class="container-new">
  <div class="cards-new mt-3">
    <h1>List a new chair</h1>
    <%= simple_form_for (@chair) do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%# <%= f.input :photo, as: :file %>
      <%= f.submit %>
  <% end %>
  </div>
</div>
