
<div class="chair-container">
  <div class="card">
    <img src="<%= @chair.image_url %>" alt="<%= @chair.name %>"  width="300px">
    <h3>Name: <%= @chair.name  %></h3>
    <h3>Price: £<%= @chair.price %></h3>

    <%= link_to "Book Now", chair_path(@chair) %>
  </div>
</div>
