
<div class="chair-container">
  <div class="card">
    <%# <img src="<%= @chair.image_url %><%#" alt="<%= @chair.name %><%#"  width="300px"> %>

    <% if @chair.photos.attached? %>
      <% @chair.photos.each do |photo| %>
        <%= cl_image_tag(photo.key, alt: @chair.name, class: 'chair-image', width: '300px') %>
      <% end %>
    <% else %>
      <img src="<%= @chair.image_url %>" alt="<%= @chair.name %>" width="300px">
    <% end %>


    <p>Sold by <%= @chair.user.username %> </p>
    <h3>Name: <%= @chair.name  %></h3>
    <h3>Price: £<%= @chair.price %></h3>

    <%= link_to "Book Now", new_booking_path %>

    <%= link_to "Back to all chairs", chairs_path, id: "back-button" %>
  </div>
</div>
